:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75); //(paragraphs)
    --Very-light-gray: hsl(0, 0%, 95%); //(background, headings, buttons)
}

@mixin fontHeavy{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    color: var(--Very-light-gray);
    font-weight: 700;
    text-transform: uppercase;
}

@mixin fontSmall{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: var(--Transparent-white);
    padding-right: 39px;
    font-weight: 300;
    line-height: 20px;
}

@mixin btn{
    padding: 12px 27px;
    border: none;
    background-color: var(--Very-light-gray);
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
}
